body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form {
  .title {
    font-size: 14px;
    color: #888888;
  }
  .form-check {
    label {
      font-weight: 600;
      cursor: pointer;
    }
  }
  .check-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    span {
      margin-right: 10px;
      font-size: 14px;
      color: #888888;
    }
    label {
      font-weight: 600;
      cursor: pointer;
    }
    .custom-control {
      padding-left: 3rem;
    }
    .custom-control-label {
      &::before {
        border: none;
        border-radius: 1.5rem;
        background: #ccc;
        width: 2.6rem;
        height: 1.3rem;
      }
      &::after {
        top: calc(.15rem + 2px);
        left: calc(-3rem + 2px);
        width: calc(1.3rem - 4px);
        height: calc(1.3rem - 4px);
        background: #fff;
      }
    }
    .custom-switch .custom-control-label::before {
      left: -3rem;
      top: .15rem;
    }
    .custom-control-input:focus~.custom-control-label::before {
      box-shadow: none;
    }
    .custom-control-input:checked~.custom-control-label::before {
      background: #de9031;
    }
    .custom-switch .custom-control-input:checked~.custom-control-label::after {
      transform: translateX(1.3rem);
    }
  }
  .input-wrap {
    display: flex;
    align-items: center;
    p {
      flex-shrink: 0;
      margin-bottom: 0;
      margin-left: 15px;
      span {
        font-weight: 600;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
      .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
    .tooltip {
      padding: 1rem;
      background: #0a65ac;
      color: #fff;
      left: 0;
      top: calc(100% + 1rem);
      font-size: .8rem;
      visibility: hidden;
      min-width: 220px;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 8px;
        border: 6px solid transparent;
        border-bottom: 6px solid #0a65ac;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
.info-wrap {
  background: #f1daa4;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.strong {
  font-weight: 600;
}
.form-control {
  border-radius: 3rem;
}